body {
    padding: 0;
    margin: 0;
}
#container {
/*    padding-top: 15;
    padding-left: 200;*/
    /*padding-right: 100;*/
    width: 100%;
    height: 100%;
}
#heavy {
    display:inline;
    position:absolute;
    width: 100%;
    z-index: 4;
}
.clickable {
    width: 50%;
    float: left;
    height: 25%;
    font-size: 3em;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
    background-color: rgb(235, 77, 276);
}
#textarea {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: 180px;*/
    /*font-family: courier;*/
    font-size: 1.1em;
    font-family: "Times New Roman", Georgia, Serif;
}
#paranoia {
    display: none;
}

#intro {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.1em;
}

#mobile {
    text-align: center;
    display: none;
    font-size: 5em;
    color: rgb(255,0,0);
}

#credits {
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 0.8em;
}

#gif {
    margin-left: 50%;
}

#active {
    margin-left: 49%;
}
@media (max-width: 900px) {
  .clickable {
    font-size: 6em;
  }
}